@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.markdown p {
  margin-top: 16px;
  margin-bottom: 16px;
  /* Adjust as necessary */
}

.markdown pre {
  width: fit-content;
  height: fit-content;
}

.markdown code {
  text-wrap: wrap;
  font-size: medium;
}

.markdown a {
  color: blue;
  @apply underline dark:decoration-yellow-500 decoration-yellow-500 text-blue-800 dark:text-cyan-500;
}

/* styles.css */
.cursor-light {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, #c778dd 50%, #3a3f49 100%);
  opacity: 0.1;
  pointer-events: none;
  /* To ensure that other elements remains unclickable */
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  filter: blur(35px);
}


@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.70);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes scaleAndRound {
  0%,
  100% {
    border-radius: 15%;
  }

  50% {
    border-radius: 30%;
  }
}


.boxes-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  animation: rotate 2s linear infinite;
  gap: 1rem;
}

.box-rotating {
  border-radius: 0.5rem;
  animation: scaleAndRound 2s ease-in-out infinite;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}